<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    <title>Mercado Web</title>
</head>
<body>
{{!-- Navbar de bootstrap y su logo --}}
<nav class="navbar navbar-light bg-success">
  <div class="container d-flex justify-content-around">
    <a class="navbar-brand" href="#">
      <img class="img-fluid" src="cart.png" alt="carrito" width="40" height="40">
    </a>
  </div>
</nav>
</body>
</html>